Repository alienorlatour/tiny-go-projects, pull requests merged in 2022-11, with the labels that each got.

#27 Fixing tests and aligning happy path left.
  chapter-03/1_1_supported_levels/Makefile
  chapter-03/1_2_object_oriented/Makefile
  chapter-03/1_3_new/Makefile
  chapter-03/1_4_testing/Makefile
  chapter-03/1_4_testing/pocketlog/logger_test.go
  chapter-03/2_1_first_implementation/Makefile
  chapter-03/2_2_adding_a_writer/Makefile
  chapter-03/2_2_adding_a_writer/pocketlog/logger.go
  chapter-03/2_2_adding_a_writer/pocketlog/logger_test.go
  chapter-03/2_3_factorisation/Makefile
  chapter-03/2_3_factorisation/pocketlog/logger.go
  chapter-03/2_3_factorisation/pocketlog/logger_test.go
  chapter-03/2_4_functional_options/Makefile
  chapter-03/2_4_functional_options/pocketlog/logger.go
  chapter-03/2_5_testing/Makefile
  chapter-03/2_5_testing/pocketlog/logger.go
  chapter-03/exercises/1_error_method/Makefile
  chapter-03/exercises/2_zero_value_enum/Makefile
  chapter-03/exercises/3_all_implementations/Makefile
  chapter-03/exercises/3_all_implementations/pocketlog/logger.go
  chapter-03/exercises/5_testing_at_random/Makefile
  chapter-03/exercises/6_logging_level/Makefile
  chapter-03/exercises/6_logging_level/pocketlog/logger_test.go
  chapter-03/exercises/7_alternative_exposition/Makefile
  chapter-03/exercises/7_alternative_exposition/pocketlog/logger_test.go
  chapter-03/exercises/8_avoiding_long_messages/Makefile
  chapter-03/exercises/8_avoiding_long_messages/pocketlog/logger_test.go
  chapter-03/final/Makefile
  chapter-03/final/pocketlog/logger_test.go
Labels: 3-Logger

#26 :heavy_check_mark: (tests) Use ./... as target
  chapter-02/1_1_our_first_program/Makefile
  chapter-02/1_3_greet/Makefile
  chapter-02/2_1_parlez_vous_francais/Makefile
  chapter-02/3_1_phrasebook/Makefile
  chapter-02/4_1_flags/Makefile
  chapter-03/1_1_supported_levels/Makefile
  chapter-03/1_2_object_oriented/Makefile
  chapter-03/1_3_new/Makefile
  chapter-03/1_4_testing/Makefile
  chapter-03/2_1_first_implementation/Makefile
  chapter-03/2_2_adding_a_writer/Makefile
  chapter-03/2_3_factorisation/Makefile
  chapter-03/2_4_functional_options/Makefile
  chapter-03/2_5_testing/Makefile
  chapter-03/exercises/1_error_method/Makefile
  chapter-03/exercises/2_zero_value_enum/Makefile
  chapter-03/exercises/3_all_implementations/Makefile
  chapter-03/exercises/5_testing_at_random/Makefile
  chapter-03/exercises/6_logging_level/Makefile
  chapter-03/exercises/7_alternative_exposition/Makefile
  chapter-03/exercises/8_avoiding_long_messages/Makefile
  chapter-03/final/Makefile
  chapter-04/1_1_basic_main/Makefile
  chapter-04/1_2_read_input/Makefile
  chapter-04/1_3_isolate_validate/Makefile
  chapter-04/1_4_check_for_victory/Makefile
  chapter-04/4_config_options/corpus/empty.txt
  chapter-04/4_config_options/gordle/gordle_internal_test.go
  chapter-04/Makefile
  chapter-04/final/Makefile
  chapter-04/final/corpus/empty.txt
  chapter-04/pre-refactoring/Makefile
  chapter-04/pre-refactoring/corpus_5characters.txt
Labels: enhancement

#30 fix items from sections 4-3 and 4-4
  chapter-04/3_corpus/gordle/corpus.go
  chapter-04/3_corpus/gordle/corpus_test.go
  chapter-04/4_config_options/gordle/corpus.go
  chapter-04/4_config_options/gordle/corpus_test.go
Labels: 4-Gordle

#29 Renaming "status" to "hint" + a few changes in section 4.2
  chapter-04/1_4_check_for_victory/gordle/game.go
  chapter-04/2_hints/Makefile
  chapter-04/2_hints/go.mod
  chapter-04/2_hints/gordle/game.go
  chapter-04/2_hints/gordle/game_internal_test.go
  chapter-04/2_hints/gordle/hint.go
  chapter-04/2_hints/gordle/hint_internal_test.go
  chapter-04/2_hints/gordle/solutionchecker.go
  chapter-04/2_hints/gordle/solutionchecker_internal_test.go
  chapter-04/2_hints/main.go
  chapter-04/3_corpus/gordle/game.go
  chapter-04/3_corpus/gordle/hint.go
  chapter-04/3_corpus/gordle/solutionchecker.go
  chapter-04/3_corpus/gordle/solutionchecker_internal_test.go
  chapter-04/4_config_options/gordle/game.go
  chapter-04/4_config_options/gordle/hint.go
  chapter-04/4_config_options/gordle/solutionchecker.go
  chapter-04/4_config_options/gordle/solutionchecker_internal_test.go
  chapter-04/Makefile
Labels: 4-Gordle

#31 Fixing items on 4.1
  .gitignore
  chapter-04/1_1_basic_main/gordle/game.go
  chapter-04/1_2_read_input/Makefile
  chapter-04/1_2_read_input/go.mod
  chapter-04/1_2_read_input/go.sum
  chapter-04/1_2_read_input/gordle/game.go
  chapter-04/1_2_read_input/gordle/game_internal_test.go
  chapter-04/1_3_isolate_validate/go.mod
  chapter-04/1_3_isolate_validate/go.sum
  chapter-04/1_3_isolate_validate/gordle/game.go
  chapter-04/1_3_isolate_validate/gordle/game_internal_test.go
  chapter-04/1_4_check_for_victory/go.mod
  chapter-04/1_4_check_for_victory/go.sum
  chapter-04/1_4_check_for_victory/gordle/game.go
  chapter-04/1_4_check_for_victory/gordle/game_internal_test.go
  chapter-04/1_4_check_for_victory/main.go
  chapter-04/2_hints/go.mod
  chapter-04/2_hints/go.sum
  chapter-04/2_hints/gordle/game.go
  chapter-04/2_hints/gordle/game_internal_test.go
  chapter-04/2_hints/gordle/hint.go
  chapter-04/2_hints/gordle/solutionchecker.go
  chapter-04/2_hints/main.go
  chapter-04/3_corpus/go.mod
  chapter-04/3_corpus/go.sum
  chapter-04/3_corpus/gordle/corpus.go
  chapter-04/3_corpus/gordle/game.go
  chapter-04/3_corpus/gordle/game_internal_test.go
  chapter-04/3_corpus/gordle/solutionchecker.go
  chapter-04/4_config_options/go.mod
  chapter-04/4_config_options/go.sum
  chapter-04/4_config_options/gordle/game.go
  chapter-04/4_config_options/gordle/game_internal_test.go
Labels: 4-Gordle

#15 Adding linter on Go code.
  .github/workflows/book.yml
  .github/workflows/ci.yml
  book/0-intro.md
  book/1-setup.md
  book/2-hello.md
  book/3-logger.md
  book/4-loops.md
  book/5-calendar.md
  book/6.md
  chapter-02/1_1_our_first_program/Makefile
  chapter-02/1_1_our_first_program/main_internal_test.go
  chapter-02/1_3_greet/Makefile
  chapter-02/2_1_parlez_vous_francais/Makefile
  chapter-02/3_1_phrasebook/Makefile
  chapter-02/4_1_flags/Makefile
  chapter-03/1_1_supported_levels/Makefile
  chapter-03/1_2_object_oriented/Makefile
  chapter-03/1_3_new/Makefile
  chapter-03/2_1_first_implementation/Makefile
  chapter-03/2_1_first_implementation/pocketlog/logger_test.go
  chapter-03/2_2_adding_a_writer/Makefile
  chapter-03/2_2_adding_a_writer/pocketlog/logger_test.go
  chapter-03/2_3_factorisation/Makefile
  chapter-03/2_3_factorisation/pocketlog/logger_test.go
  chapter-03/3_1_functional_options/Makefile
  chapter-03/3_1_functional_options/pocketlog/logger_test.go
  chapter-03/3_2_testing/Makefile
  chapter-03/3_2_testing/pocketlog/logger_test.go
  chapter-03/exercises/1_error_method/Makefile
  chapter-03/exercises/2_zero_value_enum/Makefile
  chapter-03/exercises/3_all_implementations/Makefile
  chapter-03/exercises/3_all_implementations/pocketlog/logger_test.go
  chapter-03/exercises/4_testing_at_random/Makefile
  chapter-03/exercises/4_testing_at_random/pocketlog/logger_test.go
  chapter-03/exercises/5_logging_level/Makefile
  chapter-03/exercises/5_logging_level/pocketlog/logger_test.go
  chapter-03/exercises/6_alternative_exposition/Makefile
  chapter-03/exercises/6_alternative_exposition/pocketlog/logger_test.go
  chapter-03/exercises/7_avoiding_long_messages/Makefile
  chapter-03/exercises/7_avoiding_long_messages/pocketlog/logger_test.go
  chapter-04/1_1_basic_main/Makefile
  chapter-04/1_2_read_input/Makefile
  chapter-04/1_3_isolate_validate/Makefile
  chapter-04/1_4_check_for_victory/Makefile
  chapter-04/2_hints/Makefile
  chapter-04/3_corpus/Makefile
  chapter-04/4_config_options/Makefile
Labels: enhancement
